{% extends "layout.html" %}
{% block title %}Anmeldung{% endblock %}
{% block page_title %}Mir hei &ouml;pis z fiire{% endblock %}
{% block body %}
    <div class="banner">
        <img src="{{ url_for('static', filename='banner_small.jpg') }}" width="400" height="400">
    </div>
    <div class="intro">
        <p>
            Mir drü gschwüsteti (Simon, Katrin, Mathias) wärde das Jahr zäme 100 Jahr aut, u das wei mr mir euch aune
            fiire!<br>
            Drum lade mr euch aui ih, mit üs zäme am 11.08.2018 ir Längass (am <a href="https://goo.gl/maps/CsdqREmTt6M2">
            Donnerbühlweg 33, 3012 Bern</a>) ab de 15 Uhr ahzstosse, z'Nacht z ässe, u Party z mache!
        </p>
        <p>
            Mir wärde Burger, Bier u süstigi Getränk für euch parat ha, aber bim Buffet si mr um jede Bitrag froh.<br>
            Im grosse u ganze hei mr nid vor es sträng dürre taktes Fest z mache, aber hei so üsi grobi vorstellig vom
            Programm<br>
        </p>
        <ul class="program">
            <li>
                Gäg die 15 Uhr: ihtrudle
            </li>
            <li>
                Ab de 16 Uhr: ä warme Grill mit Burger
            </li>
            <li>
                Nach de 20:30: <a href="https://casiofieber.bandcamp.com/releases">Casiofieber</a>
            </li>
            <li>
                Nächer: Party!!
            </li>
        </ul>
    </div>
    <div class="col-left">
        <h2>Das het üses Buffet scho z biete</h2>
        <ul>
            {% for meal in meals %}
                <li>{{ meal.buffet }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-right">
        <h2>Ahmäudig</h2>
        <form action="registration-complete" method="post">
            <div class="row block">
                <label for="name">Name*:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="row block">
                <label for="companions">Anzahl Personen die mitkommen*:</label>
                <input type="number" name="companions" id="companions" step="1.0" placeholder="0">
            </div>
            <div class="row block">
                <label for="buffet">Beitrag ans Buffet:</label>
                <input type="text" name="buffet" id="buffet">
            </div>
            <div class="row block">
                <label for="vegetarian">Anzahl Vegetarier:</label>
                <input type="number" name="vegetarian" id="vegetarian" step="1.0" placeholder="0">
            </div>
            <div class="row block catch-me-if-you-can">
                <label for="captcha">Captcha: 3+3</label>
                <input type="number" name="captcha" id="captcha" step="1.0" placeholder="0" value="0" required>
            </div>
            <div class="row actions">
                <input type="submit" value="Anmelden">
            </div>
        </form>
    </div>
{% endblock %}
