{% extends "layout.html" %}
{% block title %}Gästeliste{% endblock %}
{% block page_title %}Die Lüt hei sech ahgmäudet{% endblock %}
{% block body %}
    <p>
        Totau ahmäudige: {{ total.count }}<br>
        Vegetarier: {{ vegetarians.count }}
    </p>
    {% for participant in registrations %}
        <div class="participants">
            <b>Name</b>: {{ participant.name }}<br>
            <b>Buffet</b>: {{ participant.buffet }}<br>
            <b>Begleitungen</b>: {{ participant.companions }}<br>
            <b>Vegetarier</b>: {{ participant.vegetarian }}<br>
        </div>
    {% endfor %}
{% endblock %}
