body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    padding: 0 20px;
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
}

h1, h2, h3 {
    color: rgb(251, 0, 47);
}

a, a:hover, a:visited {
    color: aqua;
}

section.content {
    width: 80%;
    margin: 0 auto;
}

section.content h1,
section.content div.col-left h2 {
    text-align: center;
}

section.content .banner{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

section.content div.intro ul.program {
    text-align: center;
    list-style-type: none;
}

section.content div.col-right,
section.content div.col-left {
    text-align: center;
}

section.content div.col-left ul {
    text-align: left;
}

section.content .participants {
    float: left;
    margin: 0 10px 10px 0;
    width: 20%;
}

section:after {
    clear: both;
    content: "";
    display: block;
}

form {
    display: inline-block;
}
form .row {
    padding-bottom: 5px;
}

form .row.block {
    text-align: left;
    padding-bottom: 5px;
}

form .block label {
    display: block;
}

form .row.actions input {
    display: block;
    margin: 0 auto;
}

@media (min-width: 992px) {
    a:hover {
        text-decoration: none;
    }
    section.content {
        width: 1000px;
    }
    section.content div.col-left,
    section.content div.col-right {
        float: left;
    }

    section.content div.col-left {
        width: 450px;
        margin-right: 50px;
    }

    section.content div.col-right {
        width: 500px;
    }

    form .row.block {
        float: left;
    }

    form .block label {
        width: 250px;
        float: left;
    }
}